name: web-app-tests

on:
  push:
  pull_request:

jobs:
  run-web-app-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web-app
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install pytest==7.3.1

      - name: Run pytest
        run: python -m pytest
